{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4">Thank You</h2>
            <hr>
            <p class="text-black">Your order has been received. Below is your order info, this has also been sent to
                your email <strong>{{ order.email }}</strong>.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="order-confirmation-wrapper p-2 border">
                <div class="row">
                    <div class="col">
                        <p class="lead">Information about your order:</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 font-weight-bold">Order Number:</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0">{{ order.order_no }}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="font-weight-bold">Order Date:</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p>{{ order.date }}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <p class="lead">Order details:</p>
                    </div>
                </div>

                {% for item in order.lineitems.all %}
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="font-weight-bold">
                            {{ item.product.name }}{% if item.product_size %} - Size
                            {{ item.product.size|upper }}{% endif %}
                        </p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p>{{ item.quantity }} @ €{{ item.product.price }} each</p>
                    </div>
                </div>
                {% endfor %}

                <div class="row">
                    <div class="col">
                        <p class="lead">Delivery Details:</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 font-weight-bold">Full Name:</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0">{{ order.full_name }}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 font-weight-bold">Address Line 1:</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0">{{ order.address_line2 }}</p>
                    </div>
                </div>

                {% if order.address_line2 %}
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 font-weight-bold">Address Line 2:</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0">{{ order.address_line2 }}</p>
                    </div>
                </div>
                {% endif %}

                {% if order.county %}
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 font-weight-bold">County:</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0">{{ order.county }}</p>
                    </div>
                </div>
                {% endif %}

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 font-weight-bold">City or Town:</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0">{{ order.city_or_town }}</p>
                    </div>
                </div>

                {% if order.postcode %}
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 font-weight-bold">Postcode:</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0">{{ order.postcode }}</p>
                    </div>
                </div>
                {% endif %}

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 font-weight-bold">Country:</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0">{{ order.country }}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="font-weight-bold">Phone Number:</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p>{{ order.phone_number }}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <p class="lead">Billing info:</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 font-weight-bold">Order Total:</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0">€{{ order.order_total }}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 font-weight-bold">Delivery:</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0">€{{ order.delivery_cost }}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="font-weight-bold">Grand Total:</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p>€{{ order.grand_total }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-right">
            {% if from_profile %}
            <a href="{% url 'profile' %}" class="btn btn-lg gk-button mt-3">
                <span class="icon mr-2">
                    <i class="fas fa-long-arrow-alt-left"></i>
                </span>
                <span class="text-uppercase">Back to your profile</span>
            </a>
            {% else %}
            <a href="{% url 'products' %}" class="btn btn-lg gk-button mt-3">
                <span class="icon mr-2">
                    <i class="fas fa-long-arrow-alt-left"></i>
                </span>
                <span class="text-uppercase">Back to shop</span>
            </a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}