{% load static %}
<footer>
<div class="row w-100 justify-content-between">
  <div class="col-sm-12 col-lg-4 address text-xs-center text-lg-left">
    <a class="footer-logo" href="#"><img src="{% static 'img/gk-logo.png' %}" alt="GymKnight Logo" class='img-fluid'></a>
    <h3>GymKnight</h3>
    <p>1 O'Connell Street, Dublin 1 <br>
      Republic Of Ireland
    </p>
  </div>
  <div class="col-sm-12 col-lg-4 text-xs-center text-lg-left socials">
    <h3>Follow us on social</h3>
    <p>
    <a href="https://www.facebook.com/"><i class="fab fa-facebook-square"></i></a>
    <a href="https://www.twitter.com/"><i class="fab fa-twitter-square"></i></a>
    <a href="https://www.instagram.com/"><i class="fab fa-instagram-square"></i></a>
    <a href="https://www.snapchat.com/"><i class="fab fa-snapchat-square"></i></a>
    </p>
  </div>
</div>
</footer>
